#profile-page{
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.profile, .settings{
    background-color: var(--secondarycolor);
    padding: 2rem 2rem;
    border-radius: 30px;
    box-shadow: 5px 5px var(--accentcolor);
    margin-bottom: 30px;
}

.top-profile{
    display: grid;
    margin-bottom: 30px;
}

.main-profile-img{
    width: 130px;
    object-fit: cover;
    grid-column-start: 1;
    border: 4px solid var(--primarycolor);
    border-radius: 50%;
    background-color: whitesmoke;
}

.top-text{
    grid-column-start: 2;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.bookmark-box, .question-box{
    display: flex;
    font-size: 1rem;
    gap: 5px;
    margin: 2px 2px;
    padding: 2px 4px;
    border: 2px solid var(--headline-color);
    border-radius: 5px;
    background-color: var(--background-color);
}

.amount-icons{
    display: flex;
}

.bookmark-box img, .question-box img{
    width: 16px;
}

.profile, .about-me, .settings{
    grid-column-start: 2;
}

.aboutme-grid, .dark-mode{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2px;
    position: relative;
}

.aboutme-grid p, .styled-grid{
    background-color: var(--background-color);
    border-radius: 5px;
    padding: 5px 5px;
}

.align-right{
    text-align: right;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    width: 30px;
    height: 17px;
    position: absolute;
    right: 0;
  }

  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider {
    background-color: var(--accentcolor);
  }

  input:focus + .slider {
    box-shadow: 0 0 1px var(--accentcolor);
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 17px;
  }

  .slider.round:before {
    border-radius: 50%;
  }