@import url(css/profile-page.css);
@import url(css/bookmarks.css);
@import url(css/question-card.css);
@import url(css/header-footer.css);
@import url(css/media-query.css);
@import url(css/question-page.css);

:root{
    --primarycolor: #3e80d0;
    --secondarycolor: #8fb7e8;
    --textcolor: #030a12;
    --background-color: #f0f5fb;
    --headline-color: #081019;
    --accentcolor: #5394e2;
}

*{
    margin: 0;
    box-sizing: border-box;
    color: var(--textcolor);
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: var(--background-color);
}

main{
    padding-top: 100px;
    background-color: var(--background-color);
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 1rem;
}

.clicked{
    background-color: var(--primarycolor);
}

.hidden{
    display: none;
}

.dark{
    --primarycolor: #cfdef5;
    --secondarycolor: #121212;
    --textcolor: #cfdef5;
    --background-color: #282828;
    --headline-color: #3e80d0;
    --accentcolor: #3e80d0;
  }




