*{
    margin: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    box-shadow: 1px 1px 5px grey;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
    background-color: white;
}

main{
    margin-top: 100px;
}

.quiz-card{

}

img{
    width: 30px;
}

